doctype html
html
    head
        link(rel="stylesheet" href="style.css")
        style.
            p{
                color:red;
                padding: 10px;
            }
    body
        h1#myFirstH1.myFirstClass Hello World!
        p.first-p.
            This is a paragraph
            and this is second line
        ul
            li Item 1
            li Item 2
            li Item 3
        .box-first
        #box-id

        input(type="password" name="input-name" data-js=`${1 > 2 ? "OK" : "NOT OK" }`)

        - const myClassArr = ['class1', 'class2', 'class3']

        div(class=myClassArr).anotherClassName

        - const myStyleArr = {'color':'red', 'background-color':'black'}

        div(style=myStyleArr)

        - const myAttrArr = {'scr':'test.jpg','alt':'There is no photo'}
        img&attributes(myAttrArr)

        div(style="text-align: center; color: blue;")

        each myValueVar, myIndexVar in ['a','b','c','d',1,2,false]
            p=myIndexVar + ". " + myValueVar

        - const  lessons = {'1st': 'JS', '2nd': 'NodeJs', '3rd': 'MongoDB'}

        each myVal, myKey in lessons
            p= myKey + " - " + myVal
        
        - let user = {name: 'Patrizio', loggedIn: true, lastLogInMin: 55}
        if user.lastLogInMin > 30
            p You're timeout!
            p Sorry #{user.name}
        else if user.loggedIn
            p Welcome #{user.name}
        else
            a(href = "/login") Log In

        // orderStatus => Pending || In_Transit || Completed
        - let orderStatus = 'err'

        case orderStatus
            when 'Pending'
                p Your order status: Pending
            when 'In_Transit'
                p Your order status: on the way
            when 'Completed'
                p Your order has been completed!
            default
                p Sorry there is a problem, please try again later

        include includes/nav